@model IEnumerable<DBLibrary.Books>
@{
    ViewBag.Title = "BookManage";
}

<h2>BookManage</h2>


@section css{
    <link rel="stylesheet" href="~/CSS/UseManage.css">
}
<body>
    <div class="search">
        <ul>
            @using (Html.BeginForm("BooksSearch", "Books", FormMethod.Post))
            {
                <li>
                    <span>图书编号</span>
                    <input type="text" class="input" name="Book_ID">
                </li>
                <li>
                    <span>图书类别</span>
                    <input type="text" class="input" name="BookTypeID">
                </li>
                <li class="search">
                    <button class="search" type="submit">
                        <span>查询</span>
                    </button>

                </li>
            }
        </ul>
    </div>

    <div class="ManageList">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.Book_ID)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Title)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.AuthorName)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Price)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.BookTag)</th>
                    <th scope="col">操作</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr class="show">
                            <td scope="row">
                                @Html.DisplayFor(modelItem => item.Book_ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AuthorName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookTag)
                            </td>
                            <td>
                                <button class="operate"> @Html.ActionLink("修改", "Update", "Book", new { id = item.Book_ID }, null)</button>
                                <button class="operate"> @Html.ActionLink("删除", "Delete", "Book", new { id = item.Book_ID }, null)</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('input').each(function () {
                if ($(this).val() != null && $(this).val() != "")
                    $(this).parent().find('span').addClass('havevalue')
                else
                    $(this).parent().find('span').removeClass('havevalue')
            })
            $(document).click(function (e) {

                var _con = $('input'); // 设置目标区域
                var i = 0;
                if (!_con.is(e.target) && _con.has(e.target).length === 0) {
                    $('input').each(function () {
                        if ($(this).val() != null && $(this).val() != "")
                            $(this).parent().find('span').addClass('havevalue')
                        else
                            $(this).parent().find('span').removeClass('havevalue')
                    })
                }
            })
            $('input').click(function (e) {
                $(this).parent().find('span').addClass('havevalue')
            })
        })
    </script>
}
