@model db.Account

@{
    ViewBag.Title = "Regist";
}

<h2>Regist</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset>
    <legend>Account</legend>

    <div class="editor-label">
        <input type="file" name="img">
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Password)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Age)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Age)
        @Html.ValidationMessageFor(model => model.Age)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Email)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.identityID)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.identityID)
        @Html.ValidationMessageFor(model => model.identityID)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.telephone)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.telephone)
        @Html.ValidationMessageFor(model => model.telephone)
    </div>

    <p>
        <input type="submit" value="Create" />
    </p>
</fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
