@model DBLibrary.Admin
@{
    ViewBag.Title = "AdminInformation";
}
@section css{
    <link rel="stylesheet" href="~/CSS/InfoInput.css">
    <link rel="stylesheet" href="~/CSS/Button.css">
}
<h2>AdminInformation</h2>

@using (Html.BeginForm("AdminInformation", "PersonalInformation", FormMethod.Post))
{
    <ul>
        <li>
            <label for="ID">
                <span>@Html.DisplayNameFor(model => model.Admin_ID)</span>
                <input type="text" name="Admin_ID" value="@Html.DisplayFor(model => model.Admin_ID)" />
            </label>
        </li>
        <li>
            <label for="IdentityID">
                <span>@Html.DisplayNameFor(model => model.Admin_IdentityID)</span>
                <input type="text" name="Admin_IdentityID" value="@Html.DisplayFor(model => model.Admin_IdentityID)" />
            </label>
        </li>
        <li>
            <label for="Name">
                <span>@Html.DisplayNameFor(model => model.Admin_Name)</span>
                <input type="text" name="Admin_Name" value="@Html.DisplayFor(model => model.Admin_Name)" />
            </label>
        </li>
        <li>
            <label for="Password">
                <span>@Html.DisplayNameFor(model => model.Admin_Password)</span>
                <input type="text" name="Admin_Password" value="@Html.DisplayFor(model => model.Admin_Password)" />
            </label>
        </li>
        <li>
            <label for="Age">
                <span>@Html.DisplayNameFor(model => model.Admin_Age)</span>
                <input type="text" name="Admin_Age" value="@Html.DisplayFor(model => model.Admin_Age)" />
            </label>
        </li>
        <li>
            <label for="Telephone">
                <span>@Html.DisplayNameFor(model => model.Admin_Telephone)</span>
                <input type="text" name="Admin_Telephone" value="@Html.DisplayFor(model => model.Admin_Telephone)" />
            </label>
        </li>

    </ul>
    <button>
        <span>Button</span>
    </button>
}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('input').each(function () {
                if ($(this).val() != null && $(this).val() != "")
                    $(this).parent().find('span').addClass('havevalue')
                else
                    $(this).parent().find('span').removeClass('havevalue')
            })
            $(document).click(function (e) {

                var _con = $('input'); // 设置目标区域
                var i = 0;
                if (!_con.is(e.target) && _con.has(e.target).length === 0) {
                    $('input').each(function () {
                        if ($(this).val() != null && $(this).val() != "")
                            $(this).parent().find('span').addClass('havevalue')
                        else
                            $(this).parent().find('span').removeClass('havevalue')
                    })
                }
            })
            $('input').click(function (e) {
                $(this).parent().find('span').addClass('havevalue')
            })
        })
    </script>
}