@model IEnumerable<db.Books>
@{
    ViewBag.Title = "List";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <link rel="stylesheet" href="~/css/list.css">
</head>
<body>
    <h2>Book List</h2>

    <p>
        @Html.ActionLink("新增1", "insert1", "zsg")  @*@Html.ActionLink("新增2", "insert2", "zsg")*@
    </p>

    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookCoverUrl)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.BookCoverUrl)" />
                </td>
                <td>
                    @Html.ActionLink("购买", "Order", new { bookid = item.BookId })
                </td>
                <td>
                    @Html.ActionLink("修改1", "update1", "zsg", new { bookid = item.BookId }, null)
                </td>
                @*<td>
                    @Html.ActionLink("修改2", "update2", "zsg", new { bookid = item.BookId }, null)
                </td>
                <td>
                    @Html.ActionLink("修改3", "update3", "zsg", new { bookid = item.BookId }, null)
                </td>*@
                <td>
                    @Html.ActionLink("删除", "delete", "zsg", new { bookid = item.BookId }, null)
                </td>
                <td>
                    @Html.ActionLink("详情", "detail", "zsg", new { bookid = item.BookId }, null)
                </td>
            </tr>

        }
    </table>
    <p class="timing">
        缓存中的页面加载时间：@ViewBag.Timing ms
    </p>
</body>
</html>  