@model IEnumerable<DBLibrary.Orders>
@{
    ViewBag.Title = "OrderSubmit";
}

<h2>OrderSubmit</h2>



@section css{

    <link rel="stylesheet" href="~/CSS/InfoInput.css">
    <link rel="stylesheet" href="~/CSS/Button.css">
    <link rel="stylesheet" href="~/CSS/UseManage.css">
}
<body>
        <div class="ManageList">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">@Html.DisplayNameFor(model => model.BookID)</th>
                        <th scope="col">单价</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Num)</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr class="show">
                                <td scope="row" class="BookID" name="BookID">@Html.DisplayFor(modelItem => item.BookID)</td>
                                <td class="Price" name="Price">@Html.DisplayFor(modelItem => item.Price)</td>
                                <td class="Num" name="Num">@Html.DisplayFor(modelItem => item.Num)</td>
                            </tr>

                        }
                    }
                </tbody>
            </table>
            <label for="Address" class="address">
                <span>地址</span>
                <input type="text" class="Address" name="Address" />
            </label>
            <label for="Telephone"class="teltphone">
                <span>收货手机号</span>
                <input type="text" class="Telephone" name="Telephone" />
            </label>
            <button type="submit" class="submitbtn">
                提交订单
            </button>
        </div>
</body>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.submitbtn').click(function () {
                var Orders = [];
                var address = $('.Address').val();
                var telephone = $('.Telephone').val();
                // 遍历表格中的每一行
                $('tr.show').each(function () {
                    var bookId = $(this).find('.BookID').text();
                    var price = $(this).find('.Price').text();
                    var num = $(this).find('.Num').text();

                    Orders.push({
                        Address: address,
                        BookID: bookId,
                        Price: price,
                        Custom_Telephone: telephone,
                        Num:num,
                    });
                });

                // 发送AJAX请求
                $.ajax({
                    url: '/Order/OrderSave',
                    type: 'POST',
                    data: JSON.stringify(Orders),
                    contentType: 'application/json',
                    success: function (response) {
                        alert("订单提交成功！");
                        window.location.href = '../../Order/OrderManage';
                    },
                    error: function () {
                        // 处理错误响应
                    }
                });
            });
        });
    </script>
}
