@model DBLibrary.Admin

@{
    ViewBag.Title = "AdminUpdateView";
}

@section css{
    <link rel="stylesheet" href="~/CSS/InfoInput.css">
    <link rel="stylesheet" href="~/CSS/Button.css">
}

@using (Html.BeginForm("AdminUpdate", "Admin", FormMethod.Post))
{

    <ul>
        <li>
            <label for="Name">
                <span>昵称</span>
                <input type="text" name="Custom_Name" value="@Html.DisplayFor(model => model.Name)" />
            </label>
        </li>
        <li>
            <label for="Password">
                <span>密码</span>
                <input type="text" name="Custom_Password" value="@Html.DisplayFor(model => model.Password)" />
            </label>
        </li>
        <li>
            <label for="Age">
                <span>年龄</span>
                <input type="text" name="Custom_Age" value="@Html.DisplayFor(model => model.Age)" />
            </label>
        </li>
        <li>
            <label for="Telephone">
                <span>电话</span>
                <input type="text" name="Custom_Telephone" value="@Html.DisplayFor(model => model.Telephone)" />
            </label>
        </li>
        <li>
            <label for="IdentityID">
                <span>身份证号</span>
                <input type="text" name="Custom_IdentityID" value="@Html.DisplayFor(model => model.IdentityID)" />
            </label>
        </li>
    </ul>
    <button type="submit" value="Update">
        <span>提交</span>
    </button>
}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('input').each(function () {
                if ($(this).val() != null && $(this).val() != "")
                    $(this).parent().find('span').addClass('havevalue')
                else
                    $(this).parent().find('span').removeClass('havevalue')
            })
            $(document).click(function (e) {

                var _con = $('input'); // 设置目标区域
                var i = 0;
                if (!_con.is(e.target) && _con.has(e.target).length === 0) {
                    $('input').each(function () {
                        if ($(this).val() != null && $(this).val() != "")
                            $(this).parent().find('span').addClass('havevalue')
                        else
                            $(this).parent().find('span').removeClass('havevalue')
                    })
                }
            })
            $('input').click(function (e) {
                $(this).parent().find('span').addClass('havevalue')
            })
        })
    </script>
}
